body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 80px;
     color: blanchedalmond;
     font-weight: 600;
}

.sliderAndValue{
    border: 1px solid black;
    display: inline-flex;
    padding: 5px;
}

.colorAndPrompt{
    display: inline-flex;
}



.grid{
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid white;
    border-radius: 5px;
    height: 575px;
    width: 575px;
    background-color: gray;
}

.cell{
    background-color: white;
    border: 1px solid black;
}

a{text-decoration:none;color:#FFF}


.rainbow-button{
    width:calc(100px);
    height:calc(60px);
    background-image:linear-gradient(90deg,#00C0FF 0,#FFCF00 49%,#FC4F4F 80%,#00C0FF 100%);
    border-radius:5px;
    display:inline;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:20px;
    font-weight:700
}




.rainbow-button:hover{
    animation:slidebg 2s linear infinite
}
@keyframes slidebg{to{background-position:20vw}}